rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	// Users collection rules
    match /users/{userId} {
    // Admins can read all users
    allow read: if request.auth != null && isAdmin();
    
    // Users can read and write own user document
      allow read, write: if request.auth != null && request.auth.uid == userId;
    
    // Allow users to create their own document during signup
      allow create: if request.auth != null && request.auth.uid == userId;
    }
    
    // Youth stories collection rules
    match /youth-stories/{storyId} {
    	// Allow all to read stories
      allow read;
    
    	// Only admins can create youth stories
    	allow create: if request.auth != null && isAdmin();
    }
    
    // Youth call rating rules
    match /youth-call-ratings/{ratingId} {
    	// Only authenticated users can create ratings
      allow create: if request.auth != null;
    
    	// Admins can read all ratings
      allow read: if request.auth != null && isAdmin();
    }
    
    // Help Centre Locations collection rules
    match /centre-locations/{centreId} {
    	// Allow all to read stories
      allow read;
    }
    
    // Helper Function
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}